<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="animals" />
    <context:component-scan base-package="teachers" />

<!--    <bean id = "myTeacher"-->
<!--          class = "teachers.JavaTeacher">-->
<!--        <constructor-arg index="0" ref = "myTeacherService" />-->
<!--        <constructor-arg index="1" ref = "homeworkService" />-->
<!--    </bean>-->

<!--    <bean id = "historyTeacher"-->
<!--          class = "teachers.HistoryTeacher">-->
<!--    </bean>-->

<!--    <bean id = "myTeacher1"-->
<!--          class = "teachers.MathTeacher">-->
<!--    </bean>-->

<!--    <bean id = "homeworkService"-->
<!--          class = "teachers.HomeworkService">-->
<!--    </bean>-->

<!--    <bean id = "myTeacherService"-->
<!--          class = "teachers.WisdomWordsService">-->
<!--    </bean>-->

<!--    <bean id = "myDog"-->
<!--          class = "animals.Dog">-->
<!--    </bean>-->

<!--    <bean id = "myCat"-->
<!--          class = "animals.Cat">-->
<!--    </bean>-->

</beans>